# =========================
# NEO4J
# =========================
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password #if you are using a different password, please change it here
NEO4J_URL=bolt://localhost:7687
NEO4J_DASHBOARD_URL=bolt://localhost:7474

# =========================
# OPENROUTER
# =========================
OPENROUTER_API_KEY='your_openrouter_api_key_here'

# =========================
# LANGSMITH
# =========================
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY='your_langchain_api_key_here'
LANGCHAIN_PROJECT=hybrid-graphrag


GEMINI_API_KEY='your_gemini_api_key_here'

GROQ_API_KEY='your_groq_api_key_here'
